@media only screen and (min-width: 1px){
img {
    margin: 20px;
    max-width: 150px;
}

h1 {
    padding-left: 15px;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: aqua;
    font-family: 'Lobster', cursive;
}
p, h2 {
    padding-left: 15px;
}

body {
    padding-left: 15px;
    align-content: center;
    margin: 1.25rem;   
    max-width: 700px;
}
footer {
    padding-left: 15px;
    background-color: aqua;
    padding-top: 1em;
    padding-bottom: 1em;
}
}