@media only screen and (min-width: 70em){

.maps {
    max-width: 275px;
}
.hero{
    display: block;
    margin: 0 auto;
    max-width: 1500px;
    height: auto;
    display: flex;
}
.weathersummary{
    font-size: 25px;
    left: 255px;
}
.fivedaycast{
    font-size: 25px;
}
figure {
    max-width: 12%;
    align-items: center;
}
#WC {
    font-size: 18px;

}
#degree {
    font-size: 18px;
 
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.gallery:hover {
    box-shadow: 0 0 75px white;
}
.day1 {
    position: relative;
    max-width: 200px;
}
.day2 {
    position: relative;
    max-width: 200px;
}
.day3 {
    position: relative;
    max-width: 200px;
}
.day4 {
    position: relative;
    max-width: 200px;
}
.day5 {
    position: relative;
    max-width: 200px;
}


}