@media only screen and (min-width: 1px){
body {
    margin-left: 5em;
    margin-right: 5em;
    background-color: #2D728F;
}
main {    
    background-color: #F5EE9E;
}
header {
    font-family: 'Bangers';
    font-size: 44px;
}
h2 { 
    padding: 20px;
    font-size: 20px;
    font-family: 'Bangers';
}
footer {
    background-color: lightgrey;
    padding: 1em;
    text-align: center;
    font-family: 'Permanent Marker';
}
p {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Permanent Marker';
}

nav {    
    align-content: center;
    display: flex;
    font-family: 'Bangers';
    background-color: lightgrey;
    font-size: 26px;
    padding: 1em;
}
ol {
    list-style-type: none;
    font-family: 'Permanent Marker';
}
ul{
        list-style-type: none;
    }
li a {    
    display: block;
    padding: 20px;
}
li a:hover {   
    background-color: darkturquoise;
}

img {
    max-width: 100px;
}
}