@media only screen and (min-width: 70em){

.maps {
    max-width: 275px;
}
.weathersummary{
    font-size: 25px;
    left: 255px;
}
.fivedaycast{
    font-size: 25px;
}
figure {
    max-width: 12%;
    align-items: center;
}
#WC {
    font-size: 18px;
    position: absolute;
    left: 145px;
    top: 205px;
}
#degree {
    font-size: 18px;
    position: absolute;
    left: 195px;
    top: 205px;
}
    
.day1 {
    position: relative;
    max-width: 200px;
}
.day2 {
    position: relative;
    max-width: 200px;
}
.day3 {
    position: relative;
    max-width: 200px;
}
.day4 {
    position: relative;
    max-width: 200px;
}
.day5 {
    position: relative;
    max-width: 200px;
}

}